/.project
/.loadpath
/config/additional_environment.rb
/config/database.yml
/config/email.yml
/coverage
/db/*.db
/db/*.sqlite3
/files/*
/log/*.log*
/log/mongrel_debug
/public/dispatch.*
/public/plugin_assets
/tmp/*
/tmp/cache/*
/tmp/sessions/*
/tmp/sockets/*
/tmp/test/*
/vendor/rails
*.rbc
/config/harvest.yml
/config/initializers/session_store.rb
/db/schema.rb
/config/deploy.rb
/config/deploy/*
vendor/plugins/a_redmine_uploadify_documents_plugin
vendor/plugins/redmine_add_schedule_link
vendor/plugins/redmine_boilerplates
vendor/plugins/redmine_burndown_chart
vendor/plugins/redmine_global_roadmap
vendor/plugins/redmine_lesite_bulk_adjust_version_deadlines
vendor/plugins/redmine_lesite_projects